.key {
	min-height: 3.4375rem;
	background-color: black;
	color: white;
	padding: 0.5rem;
	margin: 0.2rem;
	border-radius: 0.2rem;
	font-size: 1.5rem;
	cursor: pointer;
	flex: 1;
	position: relative;
}

.key.active {
	/* color: white !important; */
	animation: pulse 1s;
	/* position (4 lines) : */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	height: 100%;

	/* to compensate .key style: */
	padding: -0.5rem;
	margin: -0.2rem;

	/* to center content vertically and horizontally: */
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 200%;

	transform-origin: center;
}

@keyframes pulse {
	0% {
		background-color: black;
		transform: scale(100%);
	}
	30% {
		transform: scale(130%);
	}
	80% {
		transform: scale(130%);
	}
	100% {
		background-color: red;
		transform: scale(100%);
	}
}

.key.Tab {
	flex: 1.3;
}

.key.shiftKeyPressed {
	color: red;
	font-weight: bold;
}

.row {
	display: flex;
}

.row-1 .key {
	height: 1rem;
	min-height: 1rem;
	font-size: 0.7rem;
}

.langSwitcher {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.lang {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lang:hover {
	opacity: 0.7;
}

.langSwitcher .active {
	background-color: red;
	color: white;
}
