.key {
	min-height: 3.4375rem;
	background-color: black;
	color: white;
	padding: 0.5rem;
	margin: 0.2rem;
	border-radius: 0.2rem;
	font-size: 1.5rem;
	cursor: pointer;
	flex: 1;
	position: relative;
}

.key.active {
	/* color: white !important; */
	animation: pulse 1s;
	/* position (4 lines) : */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	height: 100%;

	/* to compensate .key style: */
	padding: -0.5rem;
	margin: -0.2rem;

	/* to center content vertically and horizontally: */
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 200%;

	transform-origin: center;
}

@keyframes pulse {
	0% {
		background-color: black;
		transform: scale(100%);
	}
	30% {
		transform: scale(130%);
	}
	80% {
		transform: scale(130%);
	}
	100% {
		background-color: red;
		transform: scale(100%);
	}
}

.key.shiftKeyPressed {
	color: red;
	font-weight: bold;
}

.row {
	display: flex;
}

.row-1 .key {
	height: 1rem;
	min-height: 1rem;
	font-size: 0.7rem;
}

.langSwitcher {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.lang {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lang:hover {
	opacity: 0.7;
}

.langSwitcher .active {
	background-color: red;
	color: white;
}

.spell {
	margin-top: 1rem;
	text-align: center;
}

.spell button {
	margin-left: 0.5rem;
}

/* specified keys */

/* 1st row */

.key.Backspace {
	flex: 1.8;
}

/* 2nd row */
.key.Tab {
	flex: 1.8;
}

/* 3d row */
.key.CapsLock {
	flex: 2;
}

.key.Enter {
	flex: 2;
}

/* 4th row  */
.key.ShiftLeft {
	flex: 2.5;
}

.key.ShiftRight {
	flex: 1.5;
}

/* 5th row  */
.key.Space {
	flex: 8;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	margin: 0; /* by default body has margin 8px, we don't need it */
	padding-left: 8px;
	padding-right: 8px;
}

header {
	text-align: center;
}

main {
	width: 100%;
}

footer {
	text-align: center;
}

a {
	text-decoration: none; /* removed underline */
}

a:visited {
	color: blue;
}

.socialLinks a {
	display: inline-block;
	margin: 0.5rem;
}
